  .logoo {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin-bottom: -30px;
    left: 1150px; 
    top: -10px; 
    position: absolute;
  }
  .menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: -60px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.onwen{
 font-family: 'IBM Plex Sans Fallback', sans-serif;
font-size: 34px;
font-weight: 700;
letter-spacing: -0.2px;
line-height: 44px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
word-spacing: 0px; 
top: 80px;
position: relative;
}
.boxx{
 font-family: 'IBM Plex Sans Fallback', 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    word-spacing: 0px;
      background-color: #FFFFFF;
    color: #141414;
}
.boxx img{
    height: 150px;
    width: 200px;
    border-radius: 50%; /* Make the image round */
    position: absolute;
    top: 200px;
    bottom: 0px;
    right: 0px;
    left: 190px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(168, 177, 168); /* Set the desired background color */
    background-position: 0% 0%;
    transform: none;
    transition: all 0s ease 0s;
    outline: none;
}
.form-check{
  top: 350px;
  position: relative;
}